@using System.Globalization
@inject IReleaseRepository releases
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Noda Time | @ViewData["Title"]</title>

    <script src="~/lib/highlight-js/src/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- foundation default -->
    <link rel="stylesheet" href="~/lib/foundation-sites/dist/css/foundation.css" />

    <!-- Foundicons -->
    <link rel="stylesheet" href="~/lib/foundation-icons/foundation_icons_general_enclosed/stylesheets/general_enclosed_foundicons.css">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/main.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/main.min.css">
    </environment>

    <!-- highlight.js -->
    <link rel="stylesheet" href="~/lib/highlight-js/src/styles/vs.css">

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60886284-1', 'auto');
  ga('send', 'pageview');
    </script>
</head>
<body>

    <div class="data-sticky-container">
        <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
            <div class="top-bar-title">
                <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                    <button class="menu-icon dark" type="button" data-toggle></button>
                </span>
                <strong><a href="/">Noda Time</a></strong>
            </div>
            <div id="responsive-menu">
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="#">User Guide</a>
                            <ul class="menu vertical">
                                <li><label>Versions</label></li>
                                <li><a href="/1.0.x/userguide/">1.0.x</a></li>
                                <li><a href="/1.1.x/userguide/">1.1.x</a></li>
                                <li><a href="/1.2.x/userguide/">1.2.x</a></li>
                                <li><a href="/1.3.x/userguide/">1.3.x</a></li>
                                <li><a href="/2.0.x/userguide/">2.0.x</a></li>
                                <li class="divider hide-for-small"></li>
                                <li><a href="/unstable/userguide">Unstable</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">API</a>
                            <ul class="menu vertical">
                                <li><label>Versions</label></li>
                                <li><a href="/1.0.x/api/">1.0.x</a></li>
                                <li><a href="/1.1.x/api/">1.1.x</a></li>
                                <li><a href="/1.2.x/api/">1.2.x</a></li>
                                <li><a href="/1.3.x/api/">1.3.x</a></li>
                                <li><a href="/2.0.x/api/">2.0.x</a></li>
                                <li class="divider hide-for-small"></li>
                                <li><a href="/unstable/api/">Unstable</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/developer">Developer Guide</a>
                        </li>
                        <li>
                            <a href="/versions">Version history</a>
                        </li>
                        <li><a href="/#info">More Info</a></li>
                        <li class="has-form hide-for-small">
                            <a class="button" href="/#install">Install</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <section class="body">
        @RenderBody()
    </section>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/what-input/dist/what-input.js"></script>
        <script src="~/lib/foundation-sites/dist/js/foundation.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/what-input/dist/what-input.min.js"></script>
        <script src="~/lib/foundation-sites/dist/js/foundation.min.js"></script>
    </environment>

    <footer>
        <div class="row">
            <div class="small-6 columns">
            @{
                var latest = @releases.LatestRelease;
                <span>The latest version is @latest.Release, released @latest.ReleaseDate.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture).</span>
            }
            </div>
            <div class="small-6 columns copy">
                &copy; <a href="https://github.com/nodatime/nodatime/blob/master/AUTHORS.txt">The Noda Time Authors</a>,
                <span class="design">Web Design by <a href="http://nathanpalmer.com">Nathan Palmer</a></span>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

    <!-- Nuget Button -->
    <script type="text/javascript">
  (function () {
      var nb = document.createElement('script'); nb.type = 'text/javascript'; nb.async = true;
      nb.src = 'http://s.prabir.me/nuget-button/0.2.1/nuget-button.min.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(nb, s);
  })();
    </script>
</body>
</html>
