@model MarkdownPage

@{ ViewBag.Title = Model.Title; }

<section class="body">
    <div class="row">
        <div class="large-9 columns">
            <h1>@Model.Title</h1>
            @Model.Content
        </div>

        <div class="large-2 columns">
            <ul class="menu vertical">
                @foreach (var category in Model.Bundle.Categories)
                {
                    @* This class doesn't really exist; I've made it up for now... *@
                    <li class="menu-heading"><p>@category.Title</p></li>
                    @foreach (var page in category.Pages)
                    {
                       <li><a href="@page.Id">@page.Title</a></li>
                    }
                }
            </ul>
            @if (Model.Bundle.Name != "developer")
            {
                <footer>Version @Model.Bundle.Name</footer>
            }
         </div>
    </div>
</section>
