@model MarkdownPage

@{ ViewBag.Title = Model.Title; }

<div class="row">
    <div class="large-3 columns">
        <ul class="side-nav">
            @foreach (var category in Model.Bundle.Categories)
            {
                <li class="heading">@category.Title</li>
                @foreach (var contentPage in category.Pages)
                {
                    <li class="content"><a href="@contentPage.Id">@contentPage.Title</a></li>
                }
            }
        </ul>
        @if (Model.Bundle.Name != "developer")
        {
            <footer class="version">Version @Model.Bundle.Name</footer>
        }
    </div>

    <div class="large-9 columns">
        <h1>@Model.Title</h1>
        @Model.Content
    </div>
</div>
