@using NodaTime.Text
@model IList<ReleaseDownload>

@{
    ViewBag.Title = "Downloads";
}

<div class="row">
    <div>
        <h1>Downloads</h1>
        <p>
            Most developers will use <a href="https://www.nuget.org/">NuGet</a> to
            use Noda Time, but this page contains source and binary zip files for all
            releases.
        </p>

        <p>
            You can also download NZD (Noda Zone Data) files built from various
            versions of TZDB, allowing you to update the time zone data without
            updating the Noda Time DLL (as long as your application supports loading
            that data from a file).  These files are available <a href="/tzdb/">separately</a>.
        </p>

        <table>
            <tr>
                <th>Release</th>
                <th>Date</th>
                <th>Downloads</th>
                <th>SHA-256</th>
            </tr>
            @foreach (var release in Model.GroupBy(r => r.Version).OrderByDescending(g => g.Key))
            {
                bool first = true;
                @foreach (var file in release.OrderBy(f => f.File))
                {
                    @* First row of each release... *@
                    <tr>
                        @if (first)
                        {
                            <td rowspan="@release.Count()">@release.Key</td>
                            <td rowspan="@release.Count()">@LocalDatePattern.Iso.Format(file.ReleaseDate)</td>
                            first = false;
                        }
                        <td><a href="@file.DownloadUrl">@file.File</a></td>
                        <td>@file.Sha256Hash</td>
                    </tr>
                }
            }
        </table>

        <p>
            The Noda Time assemblies are signed; the
            <a href="https://github.com/nodatime/nodatime/blob/master/NodaTime%20Release%20Public%20Key.snk">Noda Time release public key</a>
            can be used to verify the signature.
        </p>
    </div>
</div>
