@model NodaTime.Web.Models.BenchmarkRunAndSourceLogs

@{ViewBag.Title = "Benchmark " + @Model.Run.Machine + "/" + @Model.Run.Label;}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>Fully qualified method</th>
        <th>Duration (ns)</th>
    </tr>

    @foreach (var item in Model.Run.AllResults)
    {
        <tr>
            <td>@Html.ActionLink(item.FullMethod, "MethodHistory", new { machine = Model.Run.Machine, method = item.FullMethod })</td>
            <td>@item.NanosecondsPerCall</td>
        </tr>
    }
</table>

@if (Model.Changes != null && Model.Changes.Any())
{
    <h3>Source changes</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Revision hash</th>
            <th>Message</th>
        </tr>

        @foreach (var item in Model.Changes)
        {
            <tr>
                <td style="white-space: nowrap">@item.Date.ToUniversalTime().ToString("yyyy-MM-dd HH:mm'Z'")</td>
                <td><a href="https://github.com/nodatime/nodatime/commit/@Html.Raw(Html.AttributeEncode(item.Hash))">@item.Hash.Substring(0, 12)</a></td>
                <td>@item.Message</td>
            </tr>
        }
    </table>
}
