@using NodaTime.Web.ViewModels;
@model CompareTypesViewModel

@{
    ViewBag.Title = "Benchmark type comparison";
}

<div class="row">
    <div>
        <h1>Benchmark type comparison for @Model.Left.FullTypeName</h1>
    </div>
    <div>
        <table>
            @* TODO: Parameters, if we ever use them. *@
            <tr>
                <th></th>
                <th>Left</th>
                <th>Right</th>
            </tr>
            <tr>
                <td>Environment</td>
                <td><a href="/benchmarks/environments/@Model.Left.Environment.BenchmarkEnvironmentId">@Model.Left.Environment.Machine, @Model.Left.Environment.TargetFramework</a></td>
                <td><a href="/benchmarks/environments/@Model.Right.Environment.BenchmarkEnvironmentId">@Model.Right.Environment.Machine, @Model.Right.Environment.TargetFramework</a></td>
            </tr>
            <tr>
                <td>Run</td>
                <td><a href="/benchmarks/run/@Model.Left.Run.BenchmarkRunId">@Model.Left.Run.BenchmarkRunId.TruncateGuid()</a></td>
                <td><a href="/benchmarks/run/@Model.Right.Run.BenchmarkRunId">@Model.Right.Run.BenchmarkRunId.TruncateGuid()</a></td>
            </tr>
            <tr>
                <td>Run start</td>
                <td>@Html.RenderTimestamp(@Model.Left.Run.Start)</td>
                <td>@Html.RenderTimestamp(@Model.Right.Run.Start)</td>
            </tr>
            <tr>
                <td>Run commit</td>
                <td><a href="https://github.com/nodatime/nodatime/commit/@Model.Left.Run.Commit">@Model.Left.Run.Commit.TruncateCommit()</a></td>
                <td><a href="https://github.com/nodatime/nodatime/commit/@Model.Right.Run.Commit">@Model.Right.Run.Commit.TruncateCommit()</a></td>
            </tr>
        </table>
        <p>
            @* TODO: Use a table for this top part as well? Need better control of table rows, resetting colors etc. *@
            Type: @Model.Left.FullTypeName<br />
            @if (Model.SingleEnvironment)
            {
                @:Environment: <a href="/benchmarks/environments/@Model.Left.Environment.BenchmarkEnvironmentId">@Model.Left.Environment.Machine, @Model.Left.Environment.TargetFramework</a><br />
            }
            else
            {
                @:Left environment: <a href="/benchmarks/environments/@Model.Left.Environment.BenchmarkEnvironmentId">@Model.Left.Environment.Machine, @Model.Left.Environment.TargetFramework</a><br />
                @:Right environment: <a href="/benchmarks/environments/@Model.Right.Environment.BenchmarkEnvironmentId">@Model.Right.Environment.Machine, @Model.Right.Environment.TargetFramework</a><br />
            }
            @* TODO: Commit, dates etc *@
            Left Run: <a href="/benchmarks/runs/@Model.Left.Run.BenchmarkRunId">@Model.Left.Run.BenchmarkRunId.TruncateGuid()</a><br />
            Right Run: <a href="/benchmarks/runs/@Model.Right.Run.BenchmarkRunId">@Model.Right.Run.BenchmarkRunId.TruncateGuid()</a><br />
        </p>
    </div>
    <div>
        <h2>Benchmarks</h2>
    </div>
    <div>
        <table>
            @* TODO: Parameters, if we ever use them. *@
            <tr>
                <th>Method</th>
                <th>Mean time<br />(@Html.RenderTimestamp(Model.Left.Run.Start))</th>
                <th>Mean time<br />(@Html.RenderTimestamp(Model.Right.Run.Start))</th>
            </tr>
            @foreach (var item in Model.GetBenchmarks())
            {
                <tr class="@(item.important ? "benchmark-important": "")">
                    <td>@item.description.Method</td>
                    <td>@Html.RenderTime(item.left?.Mean)</td>
                    <td>@Html.RenderTime(item.right?.Mean)</td>
                </tr>
            }
        </table>
    </div>
    @* Work out how to style the above to leave some padding instead... *@
    <p />
</div>
