@using NodaTime.Benchmarks;
@model IList<BenchmarkEnvironment>

@{
    ViewBag.Title = "Benchmarks";
}

<div class="row">
    <div class="large-12 columns">
        <h1>Benchmarks</h1>

        <p>
            Benchmarks are run on a daily basis (when there's been a change in the master branch)
            on identical machines: one Linux (gabriel) and one Windows (bagpuss). The web interface
            to view the benchmarks is still in a prototype phase; in particular, the URLs may well
            change over time, so please don't rely on them being stable just yet.
        </p>

        <h2>Benchmark environments</h2>
        <table>
            <tr>
                <th></th>
                <th>Machine</th>
                <th>Target framework</th>
                <th>Operating system</th>
                <th>Runtime version</th>
                <th>JIT</th>
                <th>First run</th>
                <th>Last run</th>
                <th>Run count</th>
            </tr>
            @foreach (var env in Model
           .OrderByDescending(e => e.Runs?.FirstOrDefault()?.Start?.ToInstant())
           .ThenBy(e => e.Machine)
           .ThenBy(e => e.TargetFramework))
        {
            <tr>
                <td><a href="/benchmarks/environments/@env.BenchmarkEnvironmentId">View</a></td>
                <td>@env.Machine</td>
                <td>@env.TargetFramework</td>
                <td>@env.OperatingSystem</td>
                <td>@env.RuntimeVersion</td>
                <td>@env.JitModules</td>
                <td>@Html.RenderTimestampAsUtcDate(env.Runs.LastOrDefault()?.Start)</td>
                <td>@Html.RenderTimestampAsUtcDate(env.Runs.FirstOrDefault()?.Start)</td>
                <td>@env.Runs.Count</td>
            </tr>
    }
        </table>
    </div>
</div>
