@using NodaTime.Benchmarks;
@model (BenchmarkType type, BenchmarkType previousRunType, IEnumerable<BenchmarkType> comparisonEnvironments)

@{
    ViewBag.Title = "Benchmark type";
    var type = Model.type;
    var run = type.Run;
    var env = type.Environment;
    var benchmarks = type.Benchmarks;
    var previousRunType = Model.previousRunType;
    var comparisonEnvironments = Model.comparisonEnvironments;
}

<div class="row">
    <div>
        <h1>Benchmark type</h1>
    </div>
    <div>
        <p>
            Type: @type.FullTypeName<br />
            Environment: <a href="/benchmarks/environments/@env.BenchmarkEnvironmentId">@env.Machine, @env.TargetFramework</a><br />
            Run: <a href="/benchmarks/runs/@run.BenchmarkRunId">@run.BenchmarkRunId.TruncateGuid()</a><br />
            Compare with:
            <ul>
                @if (previousRunType != null)
                {
                    <li><a href="/benchmarks/types/@type.BenchmarkTypeId/compare/@previousRunType.BenchmarkTypeId">Compare with previous run</a></li>
                }
                else
                {
                    <li>(No previous run to compare this with.)</li>
                }
                @if (comparisonEnvironments.Any())
                {
                    @foreach (var comparison in comparisonEnvironments)
                    {
                        <li><a href="/benchmarks/types/@type.BenchmarkTypeId/compare/@comparison.BenchmarkTypeId">Same commit on @comparison.Environment.Machine (@comparison.Environment.TargetFramework)</a></li>
                    }
                }
                else
                {
                    <li>(No other environments to compare this with.)</li>
                }
            </ul>
        </p>
    </div>
    <div>
        <h2>Benchmarks</h2>
    </div>
    <div>
        <table>
            @* TODO: Parameters, if we ever use them. *@
            <tr>
                <th>Method</th>
                <th>Mean time</th>
                <th>Standard error</th>
                <th>Standard deviation</th>
            </tr>
            @foreach (var benchmark in benchmarks)
            {
                <tr>
                    <td><a href="/benchmarks/benchmarks/@benchmark.BenchmarkId">@benchmark.Method</a></td>
                    <td>@Html.RenderTime(benchmark.Statistics?.Mean)</td>
                    <td>@Html.RenderTime(benchmark.Statistics?.StandardError)</td>
                    <td>@Html.RenderTime(benchmark.Statistics?.StandardDeviation)</td>
                </tr>
            }
        </table>
    </div>
    @* Work out how to style the above to leave some padding instead... *@
    <p />
</div>
