@using NodaTime.Benchmarks;
@* Want: (BenchmarkType type, string previousCommit) *@
@* This is fixed in some unknown version of Razor; revisit occasionally. *@
@model ValueTuple<BenchmarkType, string>

@{
    ViewBag.Title = "Benchmark type";
    var type = Model.Item1;
    var run = type.Run;
    var env = type.Environment;
    var benchmarks = type.Benchmarks;
    var previousCommit = Model.Item2;
}

<div class="row">
    <div class="large-12 columns">
        <h1>Benchmark type</h1>
        <p>
            Type: @type.FullTypeName<br />
            Environment: <a href="/benchmarks/environments/@env.BenchmarkEnvironmentId">@env.Machine, @env.TargetFramework</a><br />
            Run: <a href="/benchmarks/runs/@run.BenchmarkRunId">@run.BenchmarkRunId.TruncateGuid()</a><br />
            @if (previousCommit != null)
            {
                <a href="/benchmarks/types/@type.BenchmarkTypeId/compareWithCommit/@previousCommit">Compare with previous commit in this environment</a><br />
            }
            else
            {
                @:(No previous commit to compare this with.)<br />
            }
            <a href="/benchmarks/types/@type.BenchmarkTypeId/compareEnvironments">Compare with same type and commit in other environments</a>
        </p>
        <h2>Benchmarks</h2>
        <table>
            @* TODO: Parameters, if we ever use them. *@
            <tr>
                <th>Method</th>
                <th>Mean time</th>
                <th>Standard error</th>
                <th>Standard deviation</th>
            </tr>
            @foreach (var benchmark in benchmarks)
            {
                <tr>
                    <td><a href="/benchmarks/benchmarks/@benchmark.BenchmarkId">@benchmark.Method</a></td>
                    <td>@Html.RenderTime(benchmark.Statistics?.Mean)</td>
                    <td>@Html.RenderTime(benchmark.Statistics?.StandardError)</td>
                    <td>@Html.RenderTime(benchmark.Statistics?.StandardDeviation)</td>
                </tr>
            }
        </table>
    </div>
    @* Work out how to style the above to leave some padding instead... *@
    <p />
</div>
